[submodule "modules/core"]
	path = modules/core
	url = git@github.com:Platform-OS/pos-module-core.git
[submodule "modules/theme-manager"]
	path = modules/theme-manager
	url = git@github.com:Platform-OS/pos-module-theme-manager.git
[submodule "modules/components"]
	path = modules/components
	url = git@github.com:Platform-OS/pos-module-components.git
[submodule "modules/admin"]
	path = modules/admin
	url = git@github.com:Platform-OS/pos-module-admin.git
[submodule "modules/pos-module-user-forms"]
	path = modules/pos-module-user-forms
	url = git@github.com:Platform-OS/pos-module-user-forms.git
[submodule "modules/user"]
	path = modules/user
	url = https://github.com/Platform-OS/pos-module-user.git
