---
layout: modules/pos-module-user-forms/forms
slug: user/register
---
<div class="mt-4 flex items-center justify-center flex-wrap gap-4">
  <div>
    {% liquid
      assign heading_params = '{}' | parse_json | hash_merge: level: '1', content: 'Registration', classes: 'mb-4'
      theme_render_rc 'components/atoms/heading', params: heading_params
    %}

    {% liquid
      assign form_params = '{}' | parse_json | hash_merge: action: '/do-register'
      theme_render_rc 'pos-module-user-forms/organisms/register', params: form_params
    %}
  </div>
</div>

