<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User forms</title>
    {% liquid
      function theme_manager_exists = 'modules/core/lib/queries/module/exists', name: 'theme-manager', type: 'module'
      if theme_manager_exists
        include 'modules/theme-manager/theme_headscripts'
      endif
    %}
    <link rel="stylesheet" href="{{ 'modules/components/styleguide.css' | asset_url }}">
  </head>

  <body>
    <main class="main">
      {{content_for_layout}}
    </main>
  <script src="{{ 'modules/components/styleguide.js' | asset_url }}"></script>
  </body>
</html>
